body {
  margin:0;
  font-family:Arial;
  background:#f4f4f4;
}

.topbar {
  background:#111;
  color:white;
  padding:15px;
  display:flex;
  justify-content:space-between;
}

.layout {
  display:grid;
  grid-template-columns:200px 1fr;
}

.sidebar {
  background:white;
  padding:10px;
}

.nav {
  width:100%;
  padding:10px;
  margin-bottom:10px;
  cursor:pointer;
}

.nav.active {
  background:black;
  color:white;
}

.main {
  padding:20px;
}

.card {
  background:white;
  padding:15px;
  margin-bottom:15px;
}

.hidden {
  display:none !important;
}

/* MODAL */

.modal {
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.4);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:1000;
}

.modalBox {
  background:white;
  padding:20px;
  width:300px;
}

.modal.hidden {
  display:none !important;
}
